html {
	background-color: #edfff7;}

body {
	background-color: #f7f7f7;
	font-family: "Open Sans", Arial, sans-serif;
}

.navbar {
	background-color: #0050ac;
}


h4 {
	color: #0050ac;
}


.fa {
	color: #B0B0B0;
}

.fa-star {
	color: #3552c6;
	border-color: #3552c6;
}

.fa-star-o {
	color: #3552c6;
	border-color: #3552c6;
}
.description a.linkicon{
	color: #505050 ;
}
.description a.linkicon:hover {
	text-decoration: none;
	color: #0050ac;
}

.infor {
	text-indent: 15px;
}

.jumbotron {
  background-image: url("../img/background2.jpe");
  background-size: cover;
  color: #202020 ;
}
/*

.description {
	background-image: url("../img/pattern.jpg");
	background-size: 400px 80px;
	background-repeat: no-repeat;
} /*